@import "Variables.scss";
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Lato:wght@400;700&family=Lora:wght@500;700&display=swap");

html {
  font-size: 75%;
  box-sizing: border-box;
  min-block-size: 100vh;
  scrollbar-width: thin;
  scrollbar-color: lighten(adjust-hue($blue-color, -40deg), 10%) $white-color;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --font-stack-abeezee: "AbeeZee", sans-serif;
  --font-stack-lato: "Lato", sans-serif;
  --font-stack-lora: "Lora", sans-serif;
  --font-stack-monospace: monospace, "Lato";
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;

  &-track {
    background-color: $white-color;
    box-shadow: 2px 0 2px transparentize($black-color, 0.85) inset;
  }

  &-thumb {
    background-color: lighten(adjust-hue($blue-color, -40deg), 10%);
    border-radius: $base-border-radius * 0.15;

    &:hover {
      background-color: darken(adjust-hue($blue-color, -40deg), 10%);
    }

    &:active {
      background-color: darken(adjust-hue($blue-color, -40deg), 5%);
    }
  }
}
