<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" /><meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="linker, link-management, manage-link, links, cms">
    <meta name="description" content="Linker is a platform to manage your urls of github, linkedin, twitter etc.">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Rahulbaran">
    <meta name="contact" content="rahulkumar109422@gmail.com">

    <title>{{title}} || Manage Your Links</title>

    <!-- *---------------------------- CUSTOM STYLESHEET -------------------------* -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}">

    <!-- *-------------------- JINJA BLOCK FOR CUSTOM STYLESHEETS -------------------* -->
    {% block stylesheets %}
    {% endblock %}

    <!-- *--------------------------- BOX ICONS ---------------------------* -->
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js" defer></script>
</head>
<body>
    <button class="scroll--top--btn" type="button">
        <box-icon type='solid' name='chevrons-up' color="white"></box-icon>
    </button>

    <header class="header">
        <a href="{{url_for('home')}}" class="logo" title='Logo'>Linker</a>

        <nav class="navigation" aria-labelledby="primary navigation">
            <ul class="navigation__bar">

                {% if current_user.is_authenticated %}
                <li>
                    <a href="{{url_for('links')}}" class="navigation__link {{'navigation__link--active' if active_page=='links' else ''}}" title="Links Tab">Links</a>
                </li>
                <li>
                    <a href="{{url_for('account')}}" class="navigation__link {{'navigation__link--active' if active_page=='account' else ''}}" title="Account Tab">Account</a>
                </li>
                <li>
                    <a href="{{url_for('logout')}}" class="navigation__link" title="Logout Tab">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{{url_for('home')}}" class="navigation__link {{'navigation__link--active' if active_page=='home' else ''}}" title="Home Tab">Home</a>
                </li>
                <li>
                    <a href="{{url_for('signup')}}" class="navigation__link {{'navigation__link--active' if active_page=='signup' else ''}}" title="Signup Tab">Signup</a>
                </li>
                <li>
                    <a href="{{url_for('login')}}" class="navigation__link {{'navigation__link--active' if active_page=='login' else ''}}" title="Login Tab">Login</a>
                </li>
                {% endif %}
                
                <li>
                    <a href="{{url_for('contact')}}" class="navigation__link {{'navigation__link--active' if active_page=='contact' else ''}}" title="Contact Tab">Contact</a>
                </li>
            </ul>
        </nav>
    </header>


    <!-- *--------------------------- JINJA BLOCK FOR BODY ------------------------* -->
    {% block body %}
    {% endblock %}


    <!-- *--------------------------- FLASH MESSAGE ------------------------------*  -->
    {% with messages=get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div class="msg--container">
      {% for cat, msg in messages %}
      <div class="msg__block {{cat}}__msg--block">
          <span>{{msg}}</span>
          <button class="msg__hide--btn {{cat}}__msg--hide--btn">&Cross;</button>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}


    <!-- *--------------------- JINJA BLOCK FOR CUSTOM SCRIPTS --------------------* -->
    {% block scripts %}
    {% endblock %}

    <script>
        // * Message Hide Buttons
        const $hideBtns = document.querySelectorAll(".msg__hide--btn");
        $hideBtns?.forEach(hideBtn => {
            hideBtn.addEventListener("click", () => {
                hideBtn.parentElement.remove();
            });
        });

        // * Scroll To Top Button 
        const $scrollTop = document.querySelector(".scroll--top--btn");

        window.onscroll = () => {
            (document.documentElement.scrollTop > 0 || document.body.scrollTop > 0) ? 
            $scrollTop.style.display = "block" : 
            $scrollTop.style.display = "none";
        };

        $scrollTop.addEventListener("click", () => {
            document.documentElement.scrollTop = 0;
            document.body.scrollTop = 0;
        });
    </script>
</body>
</html>