{% extends 'layout.html' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/updateProfile.css')}}">
{% endblock %}

{% block body %}
    <main class="form--container">
        <h3 class="form__heading">Update Profile Form</h3>

        <form class="form" autocomplete="off" method="post" spellcheck="false">
            {{form.hidden_tag()}}

            <div class="form__group">
                {{form.fullname.label}}
                {% if form.fullname.errors %}
                {{form.fullname(id="input__error")}}
                {% for error in form.fullname.errors %}
                <span class="error__msg">{{error}}</span>
                {% endfor %}
                {% else %}
                {{form.fullname(placeholder="enter your name")}}
                {% endif %}
            </div>

            <div class="form__group">
                {{form.username.label}}
                {% if form.username.errors %}
                {{form.username(id="input__error")}}
                {% for error in form.username.errors %}
                <span class="error__msg">{{error}}</span>
                {% endfor %}
                {% else %}
                {{form.username(placeholder="enter an username")}}
                {% endif %}
            </div>

            <div class="form__group">
                {{form.email.label}}
                {% if form.email.errors %}
                {{form.email(id="input__error")}}
                {% for error in form.email.errors %}
                <span class="error__msg">{{error}}</span>
                {% endfor %}
                {% else %}
                {{form.email(placeholder="enter your email address")}}
                {% endif %}
            </div>

            <div class="form__group">
                {{form.about.label}}
                {{form.about}}
            </div>

            <div class="form__group">
                {{form.avatar.label}}
                {{form.avatar}}
                {% if form.avatar.errors %}
                {% for error in form.avatar.errors %}
                <span class="error__msg">{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>
            {{form.submit(class="btn")}}
        </form>

    </main>
{% endblock %}