@import "partials/Variables.scss";
@import "partials/Mixins.scss";

.main {
  &--container {
    padding-inline: $base-padding * 4;
    @include flex($align: flex-start, $dir: column, $gap: $base-margin * 2);
  }

  &__heading {
    color: adjust-hue($yellow-color, 25deg);
    font-size: $base-font-size * 2.5;
    letter-spacing: 0.75px;
    font-family: var(--font-stack-abeezee);

    & ~ [href="/signup"] {
      margin-block-start: $base-margin;
    }
  }

  @supports (-webkit-background-clip: text) and
    (-webkit-text-fill-color: transparent) {
    &__heading {
      background-image: linear-gradient(
        to top right,
        adjust-hue($yellow-color, 25deg),
        lighten(adjust-hue($yellow-color, 25deg), 20%)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__subheading {
    font-weight: map-get($font-weights, regular);
    color: transparentize(
      lighten(desaturate(adjust-hue($yellow-color, 25deg), 30%), 35%),
      0.45
    );
    line-height: $base-lh * 0.9;
    font-size: $base-font-size * 1.1;
    word-spacing: 2.7px;
  }
}

/* --------------------------------
* MEDIA QUERIES
-------------------------------- */
@media all and (min-width: 769px) {
  .main--container {
    align-items: center;
  }
}
