@import "partials/Variables.scss";
@import "partials/Mixins.scss";
@import "partials/Base.scss";

body {
  min-block-size: 100vh;
  font: {
    family: var(--font-stack-lato);
    size: $base-font-size;
    weight: map-get($font-weights, regular);
  }
  line-height: $base-lh;
  background-image: repeating-linear-gradient(
      20deg,
      transparentize(desaturate($blue-color, 40%), 0.9) 0 100px,
      transparentize(desaturate($blue-color, 40%), 0.9) 100px 200px
    ),
    conic-gradient(
      from -20deg at 50% 50%,
      darken(desaturate($blue-color, 30%), 44%) 0 60deg,
      darken(desaturate($blue-color, 20%), 43%) 60deg 240deg,
      darken(desaturate($blue-color, 30%), 44%) 240deg 360deg
    );

  background-attachment: fixed;
  background-color: darken(desaturate($blue-color, 30%), 44%);
  position: relative;
  @include flex(center, center);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $base-lh * 0.75;
}

.btn {
  display: inline-block;
  background-color: adjust-hue($yellow-color, 30deg);
  border-radius: $base-border-radius * 0.25;
  text-decoration: none;
  border: none;
  color: $black-color;
  font-weight: map-get($font-weights, bold);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  line-height: $base-lh * 0.75;
  padding: {
    block: $base-padding * 1.7;
    inline: $base-padding * 3;
  }
  transition: transform 200ms ease-in, box-shadow 200ms ease-in;

  &:hover {
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0 6px 10px transparentize($black-color, 0.1);
    transition: transform 300ms ease-out, box-shadow 300ms ease-out;
  }

  &:active {
    transform: translateY(-2px);
    box-shadow: 0 4px 7px transparentize($black-color, 0.2);
    transition: transform 150ms ease-in, box-shadow 150ms ease-out;
  }
}

/* -------------------------------
* HEADER STYLING
-------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  inline-size: 100%;
  background-image: linear-gradient(
    45deg,
    darken($blue-color, 37%),
    (darken(desaturate($blue-color, 30%), 30%))
  );
  background-color: darken($blue-color, 37%);
  padding: {
    block: $base-padding * 1.5;
    inline: $base-padding * 2;
  }
  box-shadow: 0 4px 6px transparentize($black-color, 0.85);
  @include flex($align: center);

  .logo {
    text-decoration: none;
    font: {
      size: $base-font-size * 2;
      family: var(--font-stack-lora);
      weight: map-get($font-weights, bold);
      style: italic;
    }
    color: lighten($yellow-color, 30%);
    text-shadow: 5px 5px 3px transparentize($black-color, 0.65);
    letter-spacing: 0.75px;
    line-height: $base-lh * 0.8;

    &:hover {
      opacity: 0.8;
    }
  }

  .navigation {
    margin-inline-start: auto;

    &__bar {
      @include flex($align: flex-start, $gap: $base-margin * 3);
      list-style-type: none;
    }

    &__link {
      display: inline-block;
      padding: $base-padding;
      color: lighten(adjust-hue($yellow-color, 30deg), 40%);
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase;

      &:last-of-type {
        padding-inline-end: unset;
      }

      &:hover,
      &--active {
        text-decoration: underline 1px wavy currentColor;
        text-underline-offset: 3px;
        opacity: 0.7;
      }
    }
  }
}

/* --------------------------------
* MESSAGE STYLING
-------------------------------- */
.msg {
  &--container {
    position: absolute;
    top: 4.1rem;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &__block {
    @include flex(center, center, $gap: $base-margin * 2);
    padding: $base-padding * 0.8;
    font-size: $base-font-size * 1.1;
    font-family: var(--font-stack-abeezee);
  }

  &__hide--btn {
    background-color: transparent;
    border: none;
    font-size: $base-font-size * 1.5;

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
}

.info__msg {
  &--block {
    background-color: transparentize(lighten($blue-color, 37%), 0.2);
    color: darken($blue-color, 25%);
  }
  &--hide--btn {
    color: darken($blue-color, 25%);
  }
}

.warn__msg {
  &--block {
    background-color: transparentize(lighten($red-color, 42%), 0.2);
    color: darken($red-color, 25%);
  }

  &--hide--btn {
    color: darken($red-color, 25%);
  }
}

/* ---------------------------------
*  MEDIA QUERIES 
--------------------------------- */
@supports (scroll-behavior: smooth) {
  @media (prefers-reduced-motion) {
    html {
      scroll-behavior: auto;
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
}

@media all and (max-width: 481px) {
  .header {
    padding-inline: $base-padding;
  }
  .header .navigation__bar {
    gap: $base-margin * 0.8;
  }
}
@media all and (max-width: 769px) {
  .header .navigation__bar {
    gap: $base-margin * 1.2;
  }
}

@each $size, $bp in $fontSizesAtBp {
  @media all and (min-width: $bp) {
    html {
      font-size: #{$size};
    }
  }
}
