<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" /><meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="linker, link-management, manage-link, links, cms">
    <meta name="description" content="Linker is a platform to manage your urls of github, linkedin, twitter etc.">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Rahulbaran">
    <meta name="contact" content="rahulkumar109422@gmail.com">

    <title>{{title}}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Lato&family=Lora:wght@500&family=Poppins&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}">

    {% block stylesheet %}
    {% endblock %}
</head>
<body>


</body>
</html>