$red-color: red;
$white-color: white;
$black-color: black;
$green-color: green;
$blue-color: blue;
$yellow-color: yellow;
$orange-color: orange;

$base-font-size: 1rem;
$base-padding: 0.5rem;
$base-margin: 0.5rem;
$base-border-radius: 20px;
$base-lh: 1.4;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "semi": 600,
  "bold": 700
);

$fontSizesAtBp: (
  "90%": 481px,
  "100%": 769px,
  "110%": 1025px,
  "115%": 1201px
);
